
   <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 border-1px-solid">
   <div class="card" style="width: 18rem;">
     <img class="card-img-top" src="..." alt="Card image cap">
     <div class="card-body">
       <h5 class="card-title">Time Sheet</h5>
       <p class="card-text">Time sheet</p>
       <a routerLink="/tsheet" routerLinkActive="active" class="btn btn-primary">Continue</a>
     </div>
   </div>
   </div>
   <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 border-1px-solid">
     <div class="card" style="width: 18rem;">
       <img class="card-img-top" src="..." alt="Card image cap">
       <div class="card-body">
         <h5 class="card-title">Employee</h5>
         <p class="card-text">Employee Management System</p>
         <a routerLink="/emp" routerLinkActive="active" class="btn btn-primary">Continue</a>
       </div>
     </div>
     </div>
   <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 border-1px-solid">
     <div class="card" style="width: 18rem;">
       <img class="card-img-top" src="..." alt="Card image cap">
       <div class="card-body">
         <h5 class="card-title">LMS</h5>
         <p class="card-text">Leave Management System</p>
         <a routerLink="/lms" routerLinkActive="active" class="btn btn-primary">Continue</a>
       </div>
     </div>
     </div>
     <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 border-1px-solid">
       <div class="card" style="width: 18rem;">
         <img class="card-img-top" src="..." alt="Card image cap">
         <div class="card-body">
           <h5 class="card-title">BMS</h5>
           <p class="card-text">Cab Management System.</p>
           <a routerLink="/bms" routerLinkActive="active" class="btn btn-primary">Continue</a>
         </div>
       </div>
       </div>
       <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 border-1px-solid">
         <div class="card" style="width: 18rem;">
           <img class="card-img-top" src="..." alt="Card image cap">
           <div class="card-body">
             <h5 class="card-title">NSA</h5>
             <p class="card-text">Night Shift Allowance</p>
             <a routerLink="/nsa" routerLinkActive="active" class="btn btn-primary">Continue</a>
           </div>
         </div>
         </div>
  </div>

 